@font-face {
    font-family: 'Positions By Arixbored';
    src: url('fonts/PositionsByArixbored-Regular.woff2') format('woff2'),
        url('fonts/PositionsByArixbored-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

